<div class="container-fluid">
  <div class="row">
    <h2>Library Books</h2>
  </div>
<hr />

  <div class="row">
    <fieldset>
      <div class="form-group" ng-show="newBook">
        <label class="row control-label">Book Title</label>
        <div class="row">
          <input id="title" ng-model="booksIndexCtrl.newBook.title" type="text" class="form-control input-md" required="">
        </div>
        <label class="row control-label">Author</label>
        <div class="row">
          <input id="author" ng-model="booksIndexCtrl.newBook.author" type="text" class="form-control input-md" required="">
        </div>
        <label class="row control-label">Release Date</label>
        <div class="row">
          <input id="releaseDate" ng-model="booksIndexCtrl.newBook.releaseDate" type="text" class="form-control input-md" required="">
        </div>
        <label class="row control-label">Image Url</label>
        <div class="row">
          <input id="image" ng-model="booksIndexCtrl.newBook.image" type="text" class="form-control input-md" required="">
        </div>
        <div class="row">
          <button class="btn btn-success btn-block btn-newbookSave" ng-click="booksIndexCtrl.createBook(book); newBook = false">SAVE IT!</button>
        </div>
        <div class="row">
          <button class="btn btn-default btn-block btn-newbookSave" ng-click="newBook = false">CANCEL</button>
        </div>
      </div>
    </fieldset>
    <button class="btn btn-primary btn-block" ng-hide="newBook" ng-click="newBook = true">Add a New Book</button>
  </div>

<hr />

  <div class="book-list" ng-repeat="book in booksIndexCtrl.books | orderBy:'title'">
    <div class="row">
      <div class="col-sm-7">
        <div class="row">
          <a ng-href={{book._id}}><img ng-src="{{book.image}}"></a>
        </div>
      </div>

      <div class="col-sm-5">
        <div class="row">
          <h4><a ng-href={{book._id}}>{{book.title}}</a></h4>
        </div>
        <div class="row">
          <h4><a ng-href="{{book._id}}">by {{book.author}}</a></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
  </div>

</div>
